/* -------- BODY -------- */
body {
  font: 62.5% "Bookman", serif;
  background-color: #151515;
  color: white;

  margin: 0;
}
/* ---------------------- */


/* -------- HEADERS -------- */
h1 {
  font-size: 3.2em;
  text-align: center;
  background-color: #13e366;

  margin: 0;
  padding: 15px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 5px;
}

h3 {
  margin: 0;
}
/* ---------------------- */



/* -------- CONTENT CONTAINERS -------- */
section {
  font-size: 2.4em;

  padding: 0 25px;
}

dl {
  margin: 0;
  margin-left: 50px;
}

@media(max-width: 575px) {
  dl {
    margin: 0;
  }
}

dt, dd {
  display: inline-block;
  margin: 10px 0;
}

dt {
  color: aqua;
  font-weight: bold;
}

ul {
  list-style-type: none;
}
/* ------------------------------------ */


/* -------- CONTENT -------- */
.mark {
  font-family: "Verdana";
  color: yellow;
  font-weight: bold;
}

.token {
  color: red;
}
/* ------------------------- */

